.farther {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.div {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 2px;
  z-index: 100;
  font-size: 10px;
}

.Style {
  text-align: center;
  background: yellow;
}

.Size {
  width: 50px;
  height: 50px;
}

.horizontal1 {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  /* margin-left: -0.5*width */
  z-index: -1;
}

.horizontal2 {
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translate3d(-50%, 0, 0);
}

.horizontal3 {
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translate3d(-50%, 0, 0);
}

.flexHorizontal {
  display: flex;
  justify-content: center;
}


.horizontal5 {
  margin: 0 auto;
}

.horizontal6 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* -------垂直居中------- */
.vertical1 {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: -1;
}

.vertical2 {
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translate3d(0, -50%, 0);
}

.vertical3 {
  position: absolute;
  top: 50%;
  z-index: -1;
  transform: translate3d(0, -50%, 0);
}

.flexVertical {
  display: flex;
  align-items: center;
}

.parent5::after,
.vertical5 {
  display: inline-block;
  vertical-align: middle;
}

.parent5::after {
  content: '';
  height: 100%;
}

.vertical6 {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.parent7 {
  display: table;
}

.vertical7 {
  display: table-cell;
  vertical-align: middle;
}