<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    ul,
    li {
      list-style: none;
    }

    .list {
      width: 400px;
      height: 100px;
      margin: 0 auto;
      text-align: center;
    }

    img {
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div id="app">
    <button id="btn">POST</button>
    <div class="list">
      <li v-for="(item,index) in result" :key="index" v-if="item.title">
        <img :src="item.image" alt="">
        <p> {{item.title}} </p>
      </li>
    </div>
  </div>

  <script>
    const btn = document.querySelector(" #btn");
    let res = null;
    const app = new Vue({
      el: "#app",
      data: {
        result: []
      },
      methods: {
        async send() {
          let [page, count] = [1, 10]
          res = await axios({
            method: "POST",
            url: "https://api.apiopen.top/getWangYiNews",
            data: `page=${page}&count=${count}`
          });
          // this.result = res.data.result;
          this.$set(this, "result", res.data.result)
          console.log(this.result);
        }
      },
      created() {
        this.send()
      }
    })
  </script>
</body>

</html>